<% if (success_msg != null){ %>
    <div class="alert alert-success mt-2"><%- success_msg %></div>
<% } if (error_msg != null){ %>
    <div class="alert alert-danger mt-2"><%- error_msg %></div>
<% } %>