<% if (success_msg != null){ %>
    <div style="background: rgb(188, 243, 188); border: 1px;"><%- success_msg %></div>
<% } if (error_msg != null){ %>
    <div style="background:rgb(238, 171, 171); border: 1px;"><%- error_msg %></div>
<% } %>